@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Sigmar+One&display=swap');


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;

}

.pattern-moon {
    background-color: #F6F6F6;
    opacity: 0.7;
    background-image: radial-gradient( ellipse farthest-corner at 9px 9px , #00cba9, #00cba9 50%, #F6F6F6 50%);
    background-size: 9px 9px;
    height: 7.5rem;
    width: 6.9rem;
}

input::placeholder {
    opacity: 0.5;
    color: white;
}

input {
    color: white;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: rgb(185, 185, 185);
}

::-webkit-scrollbar-thumb
{
	background-color: #fff;
	border: 2px solid #555555;
}

.Toastify {
    position: absolute;
    z-index: 5;
}

@layer components {
    
    .btn {
        @apply border p-2 px-4 font-semibold  rounded-md
    }

    .wcu-text {
        @apply text-[#00cba9] p-1 italic
    }
    
}